# Dependency directories
**/node_modules/
**/jspm_packages/

# ------
package-lock.json
**/package-lock.json
yarn.lock
pnpm-lock.yaml

# Environment files
**/.env
**/.env.local
**/.env.*.local
.env
.env.*

# Logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# Production Build Folders
Frontend/dist/
Frontend/build/
Frontend/out/
Backend/dist/
Backend/storage/

# IDE / System files
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
